.sidebar {
    flex: 1;
    border-right: 0.5px solid rgb(230, 227, 227);
    min-height: 100vh;
    background-color: white;
    .link {
        text-decoration: none;
    }
    .top {
        height: var(--top-height);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 12px;
        .logo {
            display: flex;
            align-items: center;
            font-size: var(--sidebar-logo-size);
            font-style: italic;
            font-weight: bold;
            color: white;
            background-color: #6439ff;
            border: 1px solid #6439ff;
            border-radius: 30px;
            padding: 6px 12px;
            .icon {
                font-size: calc(var(--sidebar-logo-size) + 0.6vh);
                margin-left: 1vh;
            }
        }
    }
    hr {
        height: 0;
        border: none;
        // border: 0.1px dotted rgb(230, 227, 227);
    }
    .center {
        padding-left: 10px;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;
                &:hover {
                    background-color: #ece8ff;
                }
                .icon {
                    font-size: var(--sidebar-icon-size);
                    color: #7451f8;
                }
                span {
                    font-size: var(--sidebar-font-size);
                    font-weight: 600;
                    color: #888;
                    margin-left: 10px;
                }
            }
            .title {
                font-size: var(--sidebar-title-size);
                font-weight: bold;
                color: #999;
                margin-top: 15px;
                margin-bottom: 5px;
            }
        }
    }
    .bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
        .color-option {
            width: 50px;
            height: 50px;
            border-radius: 5px;
            border: 1px solid #7451f8;
            cursor: pointer;
            margin: 5px;
            &:nth-child(1) {
                background-color: whitesmoke;
            }
            &:nth-child(2) {
                background-color: #333;
            }
        }
    }
}