.table-list {
    .table-cell {
        font-family: 'Nunito', sans-serif;
        &.head {
            color: gray;
        }
    }
    .cell-wrapper {
        display: flex;
        align-items: center;
        .image {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-right: 10px;
            object-fit: cover;
        }
    }
    .status {
        padding: 6px 10px;
        border-radius: 15px;
        &.Approved {
            color: green;
            background-color: rgba(0, 128, 0, 0.161);
        }
        &.Pending {
            color: goldenrod;
            background-color: rgba(255, 217, 0, 0.161);
        }
    }
}