.datatable {
    height: 575px;
    padding: 20px;
    .datatable-title {
        width: 100%;
        font-size: var(--large-title-size);
        color: gray;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .link {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: white;
        background-color: #7451f8;
        border: 1px solid #7451f8;
        border-radius: 5px;
        padding: 8px;
        font-size: calc(var(--large-title-size) - 0.5vh);
        font-weight: 400;
        cursor: pointer;
        .icon {
            margin-right: 5px;
        }
    }
    .MuiDataGrid-columnHeaderTitle {
        color: gray;
        font-size: var(--navbar-font-size);
    }
    .MuiDataGrid-cell {
        font-size: calc(var(--navbar-font-size) - 0.15vh);
    }
    .cell-with-img {
        display: flex;
        align-items: center;
        .cell-img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;
        }
    }
    .cell-with-status {
        padding: 6px 10px;
        border-radius: 15px;
        &.active {
            color: green;
            background-color: rgba(0, 128, 0, 0.161);
        }
        &.pending {
            color: goldenrod;
            background-color: rgba(255, 217, 0, 0.161);
        }
        &.passive {
            color: crimson;
            background-color: rgba(255, 0, 0, 0.161);
        }
    }
    .cell-action {
        display: flex;
        align-items: center;
        gap: 15px;
        .link-new {
            text-decoration: none;
        }
        .view-button {
            padding: 4px 8px;
            border-radius: 5px;
            color: darkblue;
            border: 1px dotted rgba(0, 0, 139, 0.596);
            cursor: pointer;
        }
        .delete-button {
            padding: 4px 8px;
            border-radius: 5px;
            color: crimson;
            border: 1px dotted rgba(220, 20, 60, 0.6);
            cursor: pointer;
        }
    }
}